pre, code {
  color: #E0E0E0;
  background-color: #000;
}

.hl-keyword {
  color: #BA85E0;
}

.hl-property {
  color: #8DBAE7;
}

.hl-type {
  color: #F0D575;
}

.hl-generic {
  color: #F18383;
}

.hl-value {
  color: #BDDE7A;
}

.hl-injection {
  color: #F18383;
}

.hl-variable {
  color: #F18383;
}

.hl-comment {
  color: #B3B3B3;
}